DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=change-me
LLM_BASE_URL=http://127.0.0.1:8080

SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

TX_TABLE=transactions

ACCOUNTS_TABLE=accounts
USERS_TABLE=users


TX_COL_DATE=date
TX_COL_AMOUNT=amount
TX_COL_ACCOUNT=account_id
TX_COL_CATEGORY=category_id
TX_COL_PAYEE=payee
TX_COL_NOTE=note

VEO_REF_GCS=gs://yccourseai-veo-assets-729275361296/mascot1.png